configuration {
	modi: "run,drun";
	matching: "fuzzy";
	sorting-method: "fzf";

	theme: "themes/gruvbox-dark.rasi";
	font: "monospace 18";
	/* show-icons: true; */
	/* icon-theme: "Adwaita"; */

	kb-accept-entry: "Return";
	kb-remove-to-eol: "";
	kb-row-down: "ctrl-j,Down";
	kb-row-up: "ctrl-k,Up";
}

/* vim:ft=css
