// https://github.com/davatorium/rofi/blob/next/doc/rofi.1.markdown#rofi-1-rofi

configuration {
	modi: "run,drun,filebrowser";
	matching: "fuzzy";
	sorting-method: "fzf";
	/* case-sensitive: false; */

	font: "monospace 16";
	/* show-icons: true; */
	/* icon-theme: "Adwaita"; */

	kb-accept-entry: "Return";
	kb-remove-to-eol: "";
	kb-row-down: "ctrl-j,ctrl-n,Down";
	kb-row-up: "ctrl-k,ctrl-p,Up";
	run {
		display-name: " ";
	}
}
@theme "auto"

