* {
	background-color: transparent;
}

window {
	background-color: #24283b;
	width: 33%;
}

inputbar {
    padding: 8px;
	children: [entry];
}
entry {
    background-color: #7aa2f7;
    padding: 6px;
}

listview {
    scrollbar: true;
	lines: 10;
}
scrollbar {
	handle-color: #7aa2f7;
}

element {
	padding: 4px 8px;
}
element-text {
	text-color: #c0caf5;
}

element selected {
	background-color: #7aa2f7;
}
element-text selected {
	text-color: #24283b;
}
