* {
	background-color: transparent;
}

window {
	background-color: $THEME_BG;
	width: 33%;
}

inputbar {
    padding: 8px;
	children: [entry];
}
entry {
    background-color: $THEME_BLUE2;
    padding: 6px;
}

listview {
    scrollbar: true;
	lines: 10;
}
scrollbar {
	handle-color: $THEME_BLUE2;
}

element {
	padding: 4px 8px;
}
element-text {
	text-color: $THEME_FG;
}

element selected {
	background-color: $THEME_BLUE;
}
element-text selected {
	text-color: $THEME_BG;
}
