* {
	background-color: transparent;
}

window {
	background-color: #2e3440;
	width: 33%;
}

inputbar {
    padding: 8px;
	children: [entry];
}
entry {
    background-color: #81a1c1;
    padding: 6px;
}

listview {
    scrollbar: true;
	lines: 10;
}
scrollbar {
	handle-color: #81a1c1;
}

element {
	padding: 4px 8px;
}
element-text {
	text-color: #e5e9f0;
}

element selected {
	background-color: #81a1c1;
}
element-text selected {
	text-color: #2e3440;
}
