# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

# Stop littering home dir
export ANDROID_SDK_HOME="$XDG_CONFIG_HOME/android"
# export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc"
export ICEAUTHORITY="$XDG_CACHE_HOME/ICEauthority"
export _JAVA_OPTIONS="-Djava.util.prefs.userRoot=$XDG_CONFIG_HOME/java"
export LESSHISTFILE="-"
export MPLAYER_HOME="$XDG_CONFIG_HOME/mplayer"
export MYSQL_HISTFILE="$XDG_DATA_HOME/mysql_history"
export npm_config_prefix="$HOME/.local/lib/node_modules"
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/config"
export NPM_CONFIG_CACHE="$XDG_CACHE_HOME/npm"
export NPM_CONFIG_TMP="$XDG_RUNTIME_DIR/npm"
export NUGET_PACKAGES="$XDG_CACHE_HOME/NuGetPackages"
export SQLITE_HISTORY="$XDG_DATA_HOME/sqlite_history"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
# export XAUTHORITY="$XDG_DATA_HOME/xorg/Xauthority"
export WINEPREFIX="$HOME"/.local/share/wine

# Look
export CALIBRE_USE_SYSTEM_THEME=1
# export QT_STYLE_OVERRIDE="Adapta-Nokto"
export QT_QPA_PLATFORMTHEME="qt5ct"

# Alacritty (Rust) DPI setting
# export WINIT_HIDPI_FACTOR=1.2
export WINIT_HIDPI_FACTOR=1.0

# xdg-open fix
export DE=gnome

