! https://wiki.archlinux.org/index.php/x_resources
! name.Class.resource: value

! Frame
URxvt*scrollBar: false

! Fonts

URxvt.font:     xft:Ubuntu Mono Nerd:size=12:antialias=true
URxvt.boldFont: xft:ubuntu mono nerd:bold:size=12:antialias=true
URxvt.letterSpace: -5

! Colors
URxvt*background:  Black
URxvt*foreground:  White
URxvt*colorUL:  yellow
URxvt*underlineColor:  yellow

! Clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
