! Comment

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

XTerm.vt100.foreground: #e5e5e5
XTerm.vt100.background: #222222
XTerm.vt100.font: xft:monospace:size=12

! Sxiv.foreground: #ebdbb2
! Sxiv.background: #282828
Sxiv.font: monospace-14

! dmenu
dmenu.font: monospace-13
! dmenu.background: #282828
! dmenu.foreground: #ebdbb2
dmenu.selbackground: #458588
dmenu.selforeground: #ebdbb2

