! Comment

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

XTerm.vt100.foreground: #e5e5e5
XTerm.vt100.background: #222222
XTerm.vt100.font: xft:Victor Mono:size=12

Sxiv.foreground: #eeeeee
Sxiv.background: #333333
Sxiv.font: monospace-14

! dmenu
dmenu.font: monospace-14
! dmenu.background:
! dmenu.foreground:
! dmenu.selbackground:
! dmenu.selforeground:

