snippet == "Separator" b
==============================================================================

endsnippet

snippet -- "Separator" b
------------------------------------------------------------------------------

endsnippet

