snippet link "Link" i
[${1:title}](${2:URL})$0
endsnippet

snippet img "Image" i
![${1:title}](${2:URL})$0
endsnippet

snippet --
- [ ] 
endsnippet

snippet title ""
# `!p snip.rv = snip.basename`


endsnippet

