snippet ok
Rating: 👍
endsnippet

snippet crap
Rating: 👎
endsnippet

snippet star
Rating: ⭐
endsnippet

snippet heart
Rating: 💖
endsnippet

snippet lol
Rating: 🤣
endsnippet

snippet epic
Source: Epic
endsnippet

snippet alla
Achievements: 1/1
endsnippet

snippet atari
Platform: Atari
endsnippet

snippet amiga
Platform: Amiga
endsnippet

snippet pirate
Source: Pirate
endsnippet

snippet done
Status: done
endsnippet

snippet ret
Status: retired
endsnippet

snippet ns
Platform: Switch
endsnippet

snippet pc
Platform: PC
endsnippet

snippet scumm
Platform: ScummVM
endsnippet

snippet xb
Platform: Xbox
endsnippet

snippet es
Source: eShop
endsnippet

snippet gp
Source: GamePass
endsnippet

snippet t
Title: 
endsnippet

snippet gog
Source: GOG
endsnippet

snippet st
Source: Steam
endsnippet

snippet xgp
Platform: Xbox
Source: GamePass
endsnippet

snippet ready
Status: ready
endsnippet

snippet ngx
Title: $1
Platform: Xbox
Source: GamePass
Acquired: 2022-
Status: ready
Story: 
Extra: 
Achievements: 
GS: 
endsnippet

snippet nga
Title: $1
Platform: Android
Source: Google Play
Acquired: 2022-$2
Status: ready
Story: 
Extra: 
Achievements: 
endsnippet

